@import '../variables';
.wrap {
  padding-bottom: 5em;
}

.project {
  h2 {
    color: $main-color;
    .year {
      color: $sub-text;
      font-size: 0.6em;
      margin-left: 0.5em;
    }
  }
  .link {
    color: $main-text;
    &:hover {
      text-decoration: underline;
    }
  }
  .intro {
    color: $sub-text;
  }
}
