h1 {
    color: #FFF;
}
p {
    color: #FFF;
}
strong {
    color: #FFF;
    font-weight: normal;
}
@media screen and (min-width:600px){
    .about{
        padding: 100px;
    }
    .recent{
        text-align: left;
        float: left;
        width:50%;
    }
    .contact{
        text-align: right;
        margin-left:25%;
    }
    .bitcoin {
        margin-left:25%;
    }
}
@media screen and (max-width:599px){
    .about{
        padding-top: 100px;
    }
    .contact{
        padding-top: 20px;
    }
}
.recent {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    border-bottom: none;
}
.bitcoin {
    width: 220px;
    margin: 0 auto;
}
.bitcoin img {
    opacity: 0.5;
}
a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    border-bottom: none;
}
a:hover {
    color: #FFF;
}
