.about {
    position: absolute;
    right: 120px;
    top: 180px;
    width: 300px;
}
.about a:hover {
    color: #FFF;
}
.recent a:hover {
    color: #FFF;
}
h1 {
    color: #FFF;
}
p {
    color: #FFF;
}
strong {
    color: #FFF;
    font-weight: normal;
}
.contact {
    text-align: right;
}
.contact a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    border-bottom: none;
    text-align: right;
}
.recent {
    position: absolute;
    left: 50px;
    top: 130px;
    width: 250px;
}
.recent a,li{
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    border-bottom: none;
    text-align: right;
}
