h1 {
    color: #FFF;
}
p {
    color: #FFF;
}
strong {
    color: #FFF;
    font-weight: normal;
}
.contact {
    text-align: right;
    width: 50%;
    float: left;
}
.about {
    position: relative;
    padding: 100px;
}
.recent {
    width: 50%;
    float: left;
}
.recent {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    border-bottom: none;
    text-align: left;
}
.bitcoin {
    position: relative;
    left: 50%;
    /* top: -30px; */
    width: 220px;
}
.bitcoin img {
    opacity: 0.5;
}
a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    border-bottom: none;
    text-align: right;
}
a:hover {
    color: #FFF;
}
