.album {
  float: left;
  position: relative;
  height: 200px;
}
.album .back {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100%;
}

.front {
  display: inline;
}

.coverhover .back {
  z-index: 0;
  background: rgba(0, 0, 0, 0.85);
}
.coverhover .back h5, .coverhover .back h6 {
  color: #FFF;
}
