/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

@font-face {
    font-family: monoOne;
    src: url('/font/monoOne.otf')
}

body {
  background-color: #000;
  font: 13.34px monoOne, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

h1, h2, h3, h4, h5, h6, p, a {
    font-family: monoOne;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.navbar-fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0; z-index: 1030;
  margin-bottom: 0;
}
.pbhead {
  height: 35px;
  padding: 10px 0;
  background-color: #444;
  background: rgba(221, 219, 219,.5);
  text-align: center;
}
/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 2em;
}

.site .header h1.title a {
  color: #a00;
}

.site .header h1.title a:hover {
  color: #000;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #000;
}

.site .meta {
  color: #aaa;
}

.site .footer p {
  color: #666;
}

.nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0; z-index: 1030;
  margin-bottom: 0;
}
.nav {
    background: #15151F;
    text-align: center;
    opacity: 0.85;
}
.nav div{
    float: left;
    width: 25%;
    display: block;
    text-align: center;
    padding: 2.1em 0;
}
.nav div a {
    color: #aaa;
    font: inherit;
    text-decoration: none;
    font-size: 18px;
}
.nav div a:hover{
    color: #fff;
}

