.socials *{
    float: left;
    width: 30px;
    height: 100vh;
    cursor: pointer;
}
.socials *:hover{
  opacity: 0.9;
}
[class^="icon-"] {
    position: absolute;
    bottom: 0px;
    height: 30px;
    margin: 0px -14px;
}
.douban {
  background-color: #108258 !important
}
.facebook {
  background-color: #0e1f5b !important
}
.post_title {
    color: #fff;
}
.a {
  background-color: #FF0000 !important
}
.b {
  background-color: #FF7F00 !important
}
.c {
  background-color: #FFFF00 !important
}
.d {
  background-color: #00FF00 !important
}
.e {
  background-color: #4B0082 !important
}
.f {
  background-color: #8F00FF !important
}

