---
layout: default
title: recent tracks
extra_css:
    - /css/about.css
extra_js:
    - /javascripts/tracks.js
---
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
<style>
li {list-style-type: none;}
li * {display: inline-block;}
li img {
  float: right;
  clear: both;   
}
p { color: #777;}
section {padding: 50px 0;}
</style>

<section id='section-a' ng-app="myApp" ng-controller="lastfm">
    <button ng-click="doRequest()">load</button>
    <li ng-repeat="track in datas">
        <p>{(track.artist['#text'])} -</p>
        <p>{(track.name)}</p>
        <img src="{(track.image[0]['#text'])}">
    </li>
</section>
