---
layout: default
title: recent tracks
extra_css:
extra_before_js:
    - /js/lib/angular.min.js
extra_js:
    - /javascripts/tracks.js
    - /js/lib/jquery-1.10.2.min.js
---
<style>
li {list-style-type: none; line-height: 39px; }
li * {display: inline-block;}
li img {float: right; clear: both; opacity: 0.9; height: 34px; width: 34px;}
i.icon-star-filled {color: #FFCB08;}
section {padding: 50px 0;}
</style>

<section ng-app="myApp" ng-controller="recentTracks">
  <ul scroller>
    <li ng-repeat="track in datas">
        {(track.artist['name'])} - {(track.name)}
        <i ng-if="track.loved == 1" class="icon-star-filled"></i>
        <img ng-if="track.image[0]['#text'] != ''" ng-src="{(track.image[0]['#text'])}">
    </li>
  </ul>
</section>
