{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "semi": 0,
    "no-unused-vars": [2, { "args": "none" }],
    "no-param-reassign": [2, {"props": false}]
  },
  "globals": {
    "document": true,
    "window": true,
    "requestAnimationFrame": true,
    "Image": true
  }
}
