body {
  margin: 0;
  padding: 16px;
  background-color: #000;
  display: flex;
  font-family: 'Courier New', Courier, monospace;
}

.matrix-text {
  color: #0F0;
  font-size: 1em;
  text-transform: uppercase;
  text-shadow:
    0 0 5px #0F0,
    0 0 10px #0F0,
    0 0 20px #0F0,
    0 0 40px #0F0,
    0 0 80px #0F0,
    0 0 90px #0F0;
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  from {
    text-shadow:
      0 0 5px #0F0,
      0 0 10px #0F0,
      0 0 20px #0F0,
      0 0 40px #0F0,
      0 0 80px #0F0;
  }
  to {
   text-shadow:
      0 0 10px #0F0,
      0 0 20px #0F0,
      0 0 40px #0F0,
      0 0 80px #0F0,
      0 0 100px #0F0,
      0 0 120px #0F0;
  }
}
