
.wrap {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 50px;
  color: #5f6669;
  justify-content: center;
}

.item {
  margin-top: 20px;
}

.images {
  background-position: 50% 50%;
  background-size: cover;
  width: 450px;
  height: 450px;
  opacity: 0.5;
}

.loading {
  height: 32px;
  width: 32px;
  margin:0 auto;
  flex: 1;
  .bar {
    background:#ffeb3b;
    border:1px solid #ffeb3b;
    float:left;
    margin:6px 4px 0 0;
    width:6px;
    height:18px;
    animation: loading-height 1s linear infinite;
    &:nth-child(2) { 
      animation-delay: 0.1s;
    }
    &:last-child { 
      animation-delay: 0.2s; 
      margin-right:0;
    }
  }
}

@keyframes loading-height {
  0% { }
  10% {
    margin-top:5px;
    height:22px;
  }
  20% {
    margin-top:0px;
    height:32px;
  }
  30% {
    margin-top:1px;
    height:30px;
  }
  40% { margin-top:3px; height:26px; }
  50% { margin-top:5px; height:22px; }
  60% { margin-top:6px; height:18px; }
  100% { }
}
