
.wrap {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 30px;
  color: #5f6669;
  justify-content: center;
}

.item {
  margin-top: 20px;
}

.images {
  background-position: 50% 50%;
  background-size: cover;
  width: 450px;
  height: 450px;
  opacity: 0.5;
}

.fade-animation-init {
  transform: scale(0.8);
  opacity: 0;
}

.fade-animation {
  transform: scale(1);
  opacity: 1;
  transition: transform 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
}

