@import '../variables';

.scroll-wrap {
  .title-wrap {
    overflow: hidden;
    .label {
      color: $main-color;
      transform: translateY(100%);
      transition: transform .3s .5s;
      padding: 0;
      margin: 0;
    }
    .pop {
      transform: translateY(0);
    }
  }
}

.books {
  display: flex;
  flex-wrap: wrap;
  .book {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 5px;
  }
  .init {
    transform: scale(0.5);
    opacity: 0;
  }
  .reading {
  }
  .read {
  }
  .cover {
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
  }
}

.scale-animation {
  transform: scale(1);
  opacity: 1;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  transition-delay: 1s;
}

