@font-face {
  font-family: 'lastfm';
  src: url('/font/lastfm.eot?60119073');
  src: url('/font/lastfm.eot?60119073#iefix') format('embedded-opentype'),
       url('/font/lastfm.woff?60119073') format('woff'),
       url('/font/lastfm.ttf?60119073') format('truetype'),
       url('/font/lastfm.svg?60119073#lastfm') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "lastfm";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  font-size: 1.3em;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-douban:before { content: '\e807'; }
.icon-weibo:before { content: '\e806'; }
.icon-left-open:before { content: '\e809'; }
.icon-right-open:before { content: '\e808'; }
.icon-facebook-rect:before { content: '\e801'; }
.icon-twitter-bird:before { content: '\e802'; }
.icon-tumblr-rect:before { content: '\e805'; }
.icon-github:before { content: '\e804'; }
.icon-lastfm:before { content: '\e800'; }
.icon-instagram:before { content: '\e803'; }

