.album {
    display: inline-block;
    position: relative;
    vertical-align: top;
    float: right;
    height: 175px;
    .front {
        height: 175px;
    }
    .back {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        text-align: center;
        width: 100%;
        height: 100%;
        h5 {
            font-size: 1.5em;
            padding-top: 5px;
        }
        h6 {
            font-size: 1.2em;
        }
    }
}
.coverhover {
    .back {
        z-index: 0;
        background: rgba(0,0,0,.8);
        h5, h6{
            color: #FFF;
        }
    }
}
.red {
    background:#FF0000;
    transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
}
.orange {
    background:#eb4c2f;
    transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
}
.yellow {
    background:#FFFF00;
    transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
}
.green {
    background:#00FF00;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
.blue {
    background:#0000FF;
    transform: rotate(2deg);
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
}
.indigo {
    background:#4B0082;
    transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
}
.violet {
    background:#8B00FF;
    transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -o-transform: rotate(1deg);
}
