.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  font-family: 'Oswald', sans-serif;
  /* background: url(/static/about-bg.jpg); */
  /* background-repeat: no-repeat; */
  /* background-position: center center; */
  .cover {
    background: #1e2021;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .bg {
    background-image: url('/static/about-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  img {
    opacity: 0.5;
    position: absolute;
    width: 100%;
  }
  .tags {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .tag {
    font-weight: 900;
    background: #ffeb3b;
    color: #1e2021;
    /* mix-blend-mode: multiply; */
    padding: 10px;
  }
}
