.imgwrap {
  position: relative;
  height: 50%;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  display: flex;
  flex-flow: row wrap;
}

.row {
  flex: 1 1;
  overflow: hidden;
}

.scroller {
  display: flex;

  flex-direction: row;
  position: relative;
  height: 100%;
  
}

.slide-img {
  position: absolute;
  width: 40%;
  height: 80%;
  opacity: 0.5;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
}

.img-inner {
  position: relative;
  width: 40%;
  height: 80%;
  /* clip-path: polygon(0% 100%, 30% 0%, 100% 0%, 70% 100%); */
  clip-path: url('#polygon-clip-rhomboid');
  backface-visibility: hidden;
  will-change: tranform, opacity;
  background-position: 50% 50%;
  background-size: cover;
  flex-shrink: 0;
}

.to-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: auto;
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.arrow-right {
  animation: next 2s infinite linear;
}

@keyframes next {
  0% {
    opacity: 0;
    transform: translate3D(-5px, 0, 0);
  }
  50% {
    opacity: 1;
    transform: translate3D(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3D(5px, 0, 0);
  }
}


@keyframes slide {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(100px, 0, 0);
  }
}
