<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="shortcut icon" type="image/x-icon" href="/css/favicon.ico" />
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/fontello.css">
    {% for css_name in page.extra_css %}
    <link rel="stylesheet" href="{{ css_name }}">
    {% endfor %}

    <link href='http://fonts.googleapis.com/css?family=Imprima', rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% for js_name in page.js_file %}
        {{ js_name }}
    {% endfor %}
    {% for js_name in page.extra_before_js %}
    <script src="{{ js_name }}"></script>
    {% endfor %}
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>fakelbst</h1>
        <p>still under construction</p>
        <p>coming soon</p>
        <nav>
            <a href="/"><div class="red"><span>home</span></div></a>
            <div class="orange"><span>about</span></div>
            <div class="yellow"><span>about</span></div>
            <div class="green"><span>about</span></div>
            <a href="/recent_track"><div class="blue"><span>recent track</span></div></a>
            <a href="/instagram"><div class="indigo"><span>instagram</span></div></a>
            <a href="/tumblr"><div class="violet"><span>tumblr</span></div></a>
        </nav>
      </header>
      {{ content }}
    {% for js_name in page.extra_js %}
    <script src="{{ js_name }}"></script>
    {% endfor %}

      <footer>
        <a href="http://douban.com/people/wber"><p><i class="icon-douban"></i></p></a>
        <a href="https://twitter.com/fakelbst"><p><i class="icon-twitter-bird"></i></p></a>
        <a href="https://github.com/fakelbst"><p><i class="icon-github"></i></p></a>
        <a href="http://weibo.com/wher"><p><i class="icon-weibo"></i></p></a>
        <a href="https://www.facebook.com/fakelbst"><p><i class="icon-facebook-rect"></i></p></a>
        <a href="http://last.fm/user/fakelbst"><p><i class="icon-lastfm"></i></p></a>
        <a href="http://instagram.com/fakelbst"><p><i class="icon-instagram"></i></p></a>
        <a href="http://fakelbst.tubmlr.com/"><p><i class="icon-tumblr-rect"></i></p></a>
      </footer>
    </div>
    <script src="/javascripts/scale.fix.js"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-39511984-2', 'fakelbst.github.io');
        ga('send', 'pageview');
    </script>
  </body>
</html>
