@import './variables';

body {
  background: $bg-color;
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
  /* font-family: "Helvetica Neue",Helvetica,"Nimbus Sans L",Arial,"Liberation Sans","Hiragino Sans GB","Source Han Sans CN","Source Han Sans SC","Microsoft YaHei","Wenquanyi Micro Hei","WenQuanYi Zen Hei","ST Heiti",SimHei,"WenQuanYi Zen Hei Sharp",sans-serif; */
  color: $main-text-color;
  margin: 0;
  overflow: hidden;
}

*, *::after, *::before { 
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.wrap {
	/* display: flex; */
	/* flex-direction: column; */
	/* justify-content: center; */
	/* align-items: center; */
}

.slider {
  position: absolute;
  right: 0;
  top: 0;
	width: calc(100% - 12em);
	margin: 0 0 0 2em;
  z-index: $zindex-normal;
  height: 100vh;
  .slider-item {
    position: relative;
		display: block;
		margin: 100px 0;
    padding: 2em;
    height: calc(100vh - 300px);
    width: 80%;
    transition: all .8s;
    .title-wrap {
      position: absolute;
      left: -2em;
      overflow: hidden;
      bottom: 10%;
      .title {
        font-size: 3em;
        font-weight: normal;
        transform: translateY(100%);
        padding: 0;
        margin: 0;
        transition: transform .3s;
        transition-delay: .8s;
      }
      .pop {
        transform: translateY(0);
      }
    }
  }
  .hide {
    display: none;
  }
  .zoom {
    margin: 0;
    height: 100vh;
    width: 100%;
  }
  .current-view {
		box-shadow: 0 10px 20px -4px rgba(0,0,0,0.6);
  }
  .prev, .next {
    width: 80%;
    /* background: rgba(0,0,0,0.05); */
    background: #000;
    opacity: 0.05;
    /* height: 400px; */
    /* position: absolute; */
    /* top: -300px; */
    cursor: pointer;
    &:hover{
      opacity: 0.15;
    }
  }
}

.scroll-content {
  transition: all 1s;
}

.to-prev {
  transform: translate3d(0, 400px, 0);
}
.to-next {
  transform: translate3d(0, -400px, 0);
}

.content {
  z-index: $zindex-cover;
  transition-delay: 0.3s;
  position: fixed;
	top: 0;
	left: -100%;
	overflow: hidden;
	overflow-y: scroll;
	width: 100%;
	height: 100vh;
	background: $bg-color;
  .content-item {
  }
}

