.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100%;
  width: 100%;
}

.main {
  flex: 1;
}

.albumInfo {
  position: absolute;
  bottom: 0;
  right: 10px;
  text-align: right;
}

.to-right {
  width: 10px;
  height: 10px;
  cursor: pointer;
  justify-content: flex-end;
  margin-right: 15px;
}

.arrow-right {
  animation: next 2s infinite linear;
}

@keyframes next {
  0% {
    opacity: 0;
    transform: translate3D(-5px, 0, 0);
  }
  50% {
    opacity: 1;
    transform: translate3D(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3D(5px, 0, 0);
  }
}

