.albumInfo {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
}

.to-right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -10px;
  margin: auto;
  width: 10px;
  height: 10px;
}

